/*
* Offsets
*/
* + p {
    margin-top: 15px;
}

h2 + p,
.heading-2 + p {
    margin-top: 30px;
}

p + h2,
p + .heading-2 {
    margin-top: 15px;
}

p + p {
    margin-top: 15px;
}

p + img {
    margin-top: 30px;
}

img + p {
    margin-top: 15px;
}

h3 + img {
    margin-top: 42px;
}

h3 + p {
    margin-top: 28px;
}

* + .row {
    margin-top: 30px;
}

.thin-title + * {
    margin-top: 30px;
}

* + .big {
    margin-top: 20px;
}

* + .text-block {
    margin-top: 30px;
}

* + .button {
    margin-top: 30px;
}

h3 + .button {
    margin-top: 37px;
}

* + .social-list {
    margin-top: 30px;
}

* + .row {
    margin-top: 60px;
}

.row + h3,
.row + .heading-3 {
    margin-top: 80px;
}

h3 + .rd-form {
    margin-top: 50px;
}

.container + .container {
    margin-top: 35px;
}

.row + .row {
    margin-top: 35px;
}

@media (min-width: 1200px) {
    * + .rd-form {
        margin-top: 30px;
    }
    .container + .container {
        margin-top: 60px;
    }
    .row + .row {
        margin-top: 60px;
    }
}

@media (min-width: 1600px) {
    * + .rd-form-inline {
        margin-top: 50px;
    }
}

.row-0 {
    margin-bottom: 0px;
}

.row-0:empty {
    margin-bottom: 0;
}

.row-0 > * {
    margin-bottom: 0px;
}

.row-15 {
    margin-bottom: -15px;
}

.row-15:empty {
    margin-bottom: 0;
}

.row-15 > * {
    margin-bottom: 15px;
}

.row-20 {
    margin-bottom: -20px;
}

.row-20:empty {
    margin-bottom: 0;
}

.row-20 > * {
    margin-bottom: 20px;
}

.row-30 {
    margin-bottom: -30px;
}

.row-30:empty {
    margin-bottom: 0;
}

.row-30 > * {
    margin-bottom: 30px;
}

.row-40 {
    margin-bottom: -40px;
}

.row-40:empty {
    margin-bottom: 0;
}

.row-40 > * {
    margin-bottom: 40px;
}

.row-50 {
    margin-bottom: -50px;
}

.row-50:empty {
    margin-bottom: 0;
}

.row-50 > * {
    margin-bottom: 50px;
}

.row-60 {
    margin-bottom: -60px;
}

.row-60:empty {
    margin-bottom: 0;
}

.row-60 > * {
    margin-bottom: 60px;
}

.row-70 {
    margin-bottom: -70px;
}

.row-70:empty {
    margin-bottom: 0;
}

.row-70 > * {
    margin-bottom: 70px;
}

.row-85 {
    margin-bottom: -85px;
}

.row-85:empty {
    margin-bottom: 0;
}

.row-85 > * {
    margin-bottom: 85px;
}

@media (min-width: 992px) {
    .row-md-30 {
        margin-bottom: -30px;
    }
    .row-md-30:empty {
        margin-bottom: 0;
    }
    .row-md-30 > * {
        margin-bottom: 30px;
    }
    .row-lg-30 {
        margin-bottom: -30px;
    }
    .row-lg-30:empty {
        margin-bottom: 0;
    }
    .row-lg-30 > * {
        margin-bottom: 30px;
    }
}

h3 + .group-xl {
    margin-top: 40px;
}

.form-wrap + .row {
    margin-top: 30px;
}

* + .text-with-divider {
    margin-top: 30px;
}

.text-with-divider + * {
    margin-top: 30px;
}

* + .slick-slider {
    margin-top: 40px;
}

* + .owl-carousel {
    margin-top: 40px;
}

* + .tabs-custom {
    margin-top: 50px;
}
